
.logo {
    height: 40px;
    width: 50px;
    object-fit: contain;
    margin-right: 10px;
}

.blue-bg {
    // background-color: #87ceeb !important;
    background: #00f260;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #00f260, #0575e6);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #00f260, #0575e6);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.vertical-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.booking-card img {
    max-width: 100%;
    min-height: 130px;
    border-radius: 12px !important;
}